{% extends 'base.html.twig' %}

{% block title %}Работа с заявкой{% endblock %}

{% block body %}
    <div class="container">
        <h1>Обработка заявки</h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div>Заголовок: {{ requests.title }}</div>
                    <div>Текст: {{ requests.content }}</div>
                    <div>Изображения: {{ requests.image }}</div>
                    {{ form_start(form) }}
                    <div class="form-element">
                        <label for="textarea">{{ form_label(form.status) }}</label>
                        {{ form_widget(form.status) }}
                    </div>
                    <button type="submit">Сохранить изменения</button>
                    {{ form_end(form)  }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}